{% extends '@App/layout.html.twig' %}
{% trans_default_domain 'AppBundle' %}

{% block before_content %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ 'homepage.jumbotron.title' | trans }}</h1>
            <p>{{ 'homepage.jumbotron.description' | trans }}</p>
        </div>
    </div>
{% endblock %}

{% block content %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">
        .jumbotron {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .jumbotron h1 {
            font-size: 45px;
            margin-top: 0;
        }

        .jumbotron p {
            margin-bottom: 0;
        }
    </style>
{% endblock %}
